apiVersion: v1
kind: Service
metadata:
  name: {{ include "yelb.fullname" . }}-redis-headless
  labels:
    app: redis
spec:
  clusterIP: None
  selector:
    app: redis
  ports:
    - name: redis
      port: 6379
      targetPort: 6379
