apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "yelb.fullname" . }}-yelb-ui
  labels:
    app: yelb-ui
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: yelb-ui
  template:
    metadata:
      labels:
        app: yelb-ui
    spec:
      containers:
        - name: yelb-ui
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: {{ .Values.service.port }}
          env:
            - name: API_SERVER
              value: "http://{{ $.Release.Name }}-yelb-appserver:4567"
