apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-global-config
data:
  README: |
    This umbrella chart deploys YELB platform subcharts.
    Use `helm dependency update` then `helm install` at the umbrella chart root.
