name: deploy odilia-msdonalds with docker compose

on: [push]

jobs:
  test:
    runs-on: self-hosted  # your self-hosted runner

    steps:
      # 1. Checkout source code
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0   # required for SonarQube

      # -------------------------
      # 2. SonarQube Scan Step
      # -------------------------
      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: "http://18.227.24.102:9000"

      # (Optional) Block deployment if Quality Gate fails
      # - name: SonarQube Quality Gate
      #   uses: SonarSource/sonarqube-quality-gate-action@v1
      #   timeout-minutes: 5
      #   env:
      #     SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      #     SONAR_HOST_URL: "http://18.227.24.102:9000"

      # 3. Install Docker (if needed on runner)
      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install docker.io -y

      # 4. Login to DockerHub
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # 5. Test Docker engine
      - name: Run tests
        run: docker --version

